* {
  font-family: "Lato", sans-serif;
}

.row {
  padding-top: 0 !important;
}

.project-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  padding: 15px;
  justify-content: space-between;
}

.card-header:first-child{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.demo-gif{
  padding: 0px;
  margin: 0px;
}

.card{
  border-radius: 5px;
}

.card-body{
  color: black !important;
  padding: 15px;
  
}

img {
  border-radius: 5px;
  max-width: 100%;
}

.title{
  background-color: white;
  font-weight: bold;
  color: black; 
}

.byline{
  text-align: center;
}

.card-header {
  text-align: center;
  font-size: 1.5em;
}

.demo{
  margin-right: 0px;
  padding: 0px;
}