* {
  font-family: "Lato", sans-serif;
}

.row {
  padding-top: 0 !important;
}

.project-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  padding: 15px;
  justify-content: space-between;
}

img {
  width: 100px;
}

.title{
  background-color: black;
  font-weight: bold;
  color:gray; 
}

.byline{
  text-align: center;
}

.card-header {
  text-align: center;
  font-size: 1.5em;
}
